{% load i18n static %}

<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}{% get_current_language_bidi as LANGUAGE_BIDI %}
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
    <head>
        <title>{% block title %}{% endblock %}</title>
        {% block extrastyle %}
            <link rel="stylesheet" href="{% static 'admin_react_rest/js/node_modules/bootstrap/dist/css/bootstrap.min.css' %}">
            <link rel="stylesheet" href="{% static 'admin_react_rest/js/node_modules/bootstrap/dist/css/bootstrap-theme.min.css' %}">
        {% endblock %}
        {% if LANGUAGE_BIDI %}<link rel="stylesheet" type="text/css" href="{% block stylesheet_rtl %}{% static "admin/css/rtl.css" %}{% endblock %}" />{% endif %}
        {% block blockbots %}<meta name="robots" content="NONE,NOARCHIVE" />{% endblock %}
    </head>


    <body class="{% if is_popup %}popup {% endif %}{% block bodyclass %}{% endblock %}" data-admin-utc-offset="{% now "Z" %}">

        <!-- Header -->
        <div id="header"></div>

        <!-- Container -->
        <div class="container-fluid">
            <div id="breadcrumb"></div>

            {% block messages %}
                {% if messages %}
                <ul class="messagelist">{% for message in messages %}
                  <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|capfirst }}</li>
                {% endfor %}</ul>
                {% endif %}
            {% endblock messages %}

            <!-- Content -->
            <div id="content" class="{% block coltype %}colM{% endblock %}">
                {% block pretitle %}{% endblock %}
                {% block content_title %}{% if title %}<h1>{{ title }}</h1>{% endif %}{% endblock %}
                {% block content %}
                {% block object-tools %}{% endblock %}
                {{ content }}
                {% endblock %}
                {% block sidebar %}{% endblock %}
                <br class="clear" />
            </div>
            <!-- END Content -->

            {% block footer %}<div id="footer"></div>{% endblock %}
            {% block extrahead %}{% endblock %}
        </div>
        <!-- END Container -->

    </body>
</html>